.item-list {
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* 3 tarjetas por fila, mínimo 300px */
    gap: 20px;
  }

h1 {
    display: block;
    text-align: center;
    bottom: 20px;
}

h2 {
    text-align: center;
    bottom: 20px;
}